/*Common Body Styles*/
body {
	/*font-family: arial !important;*/
	font-family: 'Open Sans', sans-serif !important;
	font-size: 12px;
	line-height: 1.72222;
	color: #000000;
	background-color: #ffffff;
}

table {
	font-size: inherit;
}

ul {
	list-style-type: none;
	margin: 0px;
}

ul li {
	list-style-type: none;
	margin: 0px;
}

a:focus {
	outline: none;
}
/*Common Panel Styles*/
.no-margin {
	margin: 0px;
}

.panel-default, .panel-info {
	overflow: auto;
	border-color: #999;
	border-radius: 0;
}

.content .panel-default {
	border: 0px;
}

i.pointer {
	cursor: pointer;
}

.panel-default>.panel-heading {
	color: #333;
	background: #ffcd00;
	background: -moz-linear-gradient(top, #ffcd00 0%, #ffce21 50%, #fcb000 100%);
	background: -webkit-linear-gradient(top, #ffcd00 0%, #ffce21 50%, #fcb000 100%);
	background: linear-gradient(to bottom, #ffcd00 0%, #ffce21 50%, #fcb000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd00',
		endColorstr='#fcb000', GradientType=0);
	padding: 3px 11px;
	border-bottom: solid 1px #d7ac00;
	border-radius: 0;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}

.panel-default>.panel-heading.innerhead {
	display: block;
	overflow: auto;
	background: #ccc;
	border-bottom: 0;
	color: #000;
}

.height-300 {
	height: 230px;
	overflow: auto;
	display: block;
}


.chart-line{
	chart-data: series data
	chart-labels: x axis labels
	chart-options (default: {}): Chart.js options
	chart-series (default: []): series labels
	chart-click (optional): onclick event handler
	chart-hover (optional): onmousemove event handler
	chart-colors (default to global colors): colors for the chart
	chart-dataset-override (optional): override datasets individuall
}


#customerSegment{
	background: #fff;
}
/* MARGINS & PADDINGS */
.p-xxs {
	padding: 5px !important;
}

.p-xs {
	padding: 10px !important;
}

.p-sm {
	padding: 15px !important;
}

.p-m {
	padding: 20px !important;
}

.p-md {
	padding: 25px !important;
}

.p-lg {
	padding: 30px !important;
}

.p-xl {
	padding: 40px !important;
}

.m-xxs {
	margin: 2px 4px;
}

.m-xs {
	margin: 5px;
}

.m-sm {
	margin: 10px;
}

.m {
	margin: 15px;
}

.m-md {
	margin: 20px;
}

.m-lg {
	margin: 30px;
}

.m-xl {
	margin: 50px;
}

.m-n {
	margin: 0 !important;
}
.setuppage{
	/* margin: 35px !important; */
   margin-top: 18px;
}
/* for setup */
.card {
    width: 33.33333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding: 20px 10px 0px 10px;
    height: auto;
}

.card-title {
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
    border: solid 1px rgb(212, 212, 212);
    overflow: hidden;
}
.card-title-text {
    position: absolute;
    top: 0;
    padding: 8px 10px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0px;
    margin: 0;
    line-height: 16px;
}
.card-content {
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 0 0 2px 2px;
    box-sizing: border-box;
    min-height: 252px;
    
}
.ripple-wrapper {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    border-radius: inherit;
}


.card-title img {
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
}
.m-l-none {
	margin-left: 0;
}

.m-l-xs {
	margin-left: 5px;
}

.m-l-sm {
	margin-left: 10px;
}

.m-l {
	margin-left: 15px;
}

.m-l-md {
	margin-left: 20px;
}

.m-l-lg {
	margin-left: 30px;
}

.m-l-xl {
	margin-left: 40px;
}

.m-l-n-xxs {
	margin-left: -1px;
}

.m-l-n-xs {
	margin-left: -5px;
}

.m-l-n-sm {
	margin-left: -10px;
}

.m-l-n {
	margin-left: -15px;
}

.m-l-n-md {
	margin-left: -20px;
}

.m-l-n-lg {
	margin-left: -30px;
}

.m-l-n-xl {
	margin-left: -40px;
}

.m-t-none {
	margin-top: 0;
}

.m-t-xxs {
	margin-top: 1px;
}

.m-t-xs {
	margin-top: 5px;
}

.m-t-sm {
	margin-top: 10px;
}

.m-t {
	margin-top: 15px;
}

.m-t-md {
	margin-top: 20px;
}

.m-t-lg {
	margin-top: 30px;
}

.m-t-xl {
	margin-top: 40px;
}

.m-t-xxl {
	margin-top: 50px;
}

.m-t-xxxl {
	margin-top: 60px;
}

.m-t-n-xxs {
	margin-top: -1px;
}

.m-t-n-xs {
	margin-top: -5px;
}

.m-t-n-sm {
	margin-top: -10px;
}

.m-t-n {
	margin-top: -15px;
}

.m-t-n-md {
	margin-top: -20px;
}

.m-t-n-lg {
	margin-top: -30px;
}

.m-t-n-xl {
	margin-top: -40px;
}

.m-r-none {
	margin-right: 0;
}

.m-r-xxs {
	margin-right: 1px;
}

.m-r-xs {
	margin-right: 5px;
}

.m-r-sm {
	margin-right: 10px;
}

.m-r {
	margin-right: 15px;
}

.m-r-md {
	margin-right: 20px;
}

.m-r-lg {
	margin-right: 30px;
}

.m-r-xl {
	margin-right: 40px;
}

.m-r-n-xxs {
	margin-right: -1px;
}

.m-r-n-xs {
	margin-right: -5px;
}

.m-r-n-sm {
	margin-right: -10px;
}

.m-r-n {
	margin-right: -15px;
}

.m-r-n-md {
	margin-right: -20px;
}

.m-r-n-lg {
	margin-right: -30px;
}

.m-r-n-xl {
	margin-right: -40px;
}

.m-b-none {
	margin-bottom: 0;
}

.m-b-xxs {
	margin-bottom: 1px;
}

.m-b-xs {
	margin-bottom: 5px;
}

.m-b-sm {
	margin-bottom: 10px;
}

.m-b {
	margin-bottom: 15px;
}

.m-b-md {
	margin-bottom: 20px;
}

.m-b-lg {
	margin-bottom: 30px;
}

.m-b-xl {
	margin-bottom: 40px;
}

.m-b-n-xxs {
	margin-bottom: -1px;
}

.m-b-n-xs {
	margin-bottom: -5px;
}

.m-b-n-sm {
	margin-bottom: -10px;
}

.m-b-n {
	margin-bottom: -15px;
}

.m-b-n-md {
	margin-bottom: -20px;
}

.m-b-n-lg {
	margin-bottom: -30px;
}

.m-b-n-xl {
	margin-bottom: -40px;
}

.space-15 {
	margin: 15px 0;
}

.space-20 {
	margin: 20px 0;
}

.space-25 {
	margin: 25px 0;
}

.space-30 {
	margin: 30px 0;
}
/*Button Styles*/
.btn-default, .btn-primary, .btn-warning, .btn-info, .btn-danger, .btn-success {
    /* text-shadow: 1px 1px 0px white; */
    color: #000000;
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 0%, #efefef 53%, #dbdbdb 100%);
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 0%,#efefef 53%,#dbdbdb 100%);
    background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 0%,#efefef 53%,#dbdbdb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#dbdbdb',GradientType=0 );
    border-color: #999;
    border-radius: 0;
    border: solid 1px #999999;
}
.btn-default:hover, .btn-primary:hover, .btn-warning:hover, .btn-info:hover, .btn-danger:hover, .btn-success:hover, .btn-default:active, .btn-primary:active, .btn-warning:active, .btn-info:active, .btn-danger:active, .btn-success:active
 .btn-default:focus, .btn-primary:focus, .btn-warning:focus, .btn-info:focus, .btn-danger:focus, .btn-success:focus {
    color: #000000;
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #e2e2e2 0%, #ffffff 0%, #dbdbdb 46%, #fefefe 100%);
    background: -webkit-linear-gradient(top, #e2e2e2 0%, #ffffff 0%, #dbdbdb 46%, #fefefe 100%);
    background: linear-gradient(to bottom, #e2e2e2 0%, #ffffff 0%, #dbdbdb 46%, #fefefe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0);
    border-color: #999;
}

/*Common Folder Styles and Files*/
.folder-box, .file-box {
	float: left;
	margin: 12px;
	width: 100px;
	text-align: center;
	border: solid 1px transparent;
	cursor: pointer;
	padding: 5px;
	border-radius: 3px;
}

.folder-label, .file-label {
	white-space: nowrap;
	text-overflow: ellipsis !important;
	overflow: hidden;
}

.folder_select {
	background: #C7DFFC;
	color: #000;
	border: solid 1px #7DA2CE;
	text-align: center;
}

/*Common Table styles*/
.ng-table th {
	text-align: left;
}

/*Common popup Styles*/
@media ( min-width : 768px) {
	.modal-dialog {
		width: 650px;
	}
}
.modal-content{border-radius:5px;border:0;box-shadow:0 0 1px rgba(0,0,0,0.1),0 2px 4px rgba(0,0,0,0.2)}
.modal-backdrop.in{opacity:.4}
.modal-backdrop{position:fixed;bottom:0}
.modal-dialog{margin-top:80px}
.modal-title{
	font-weight: bold;
	padding: 0px 4px;
	font-size: 15px;
}

.modal-ex-lg {
	width: 70%
}

.modal-header {
	padding: 5px 10px;
	background: #f7f9fa
}
.modal-body{
	padding:10px
	}
.modal-header small{color:#9d9fa2}
.modal-footer{
	background:#f7f9fa;
	padding:5px 10px;
	text-align:left
	}
.md-dialog-container{
	z-index:1500;
}

ng-form[name=timeForm] {
	border: 1px solid #ccc;
	border-radius: 4px;
}

md-input-container .md-input {
	border: 0px
}

md-input-container {
	margin: 0;
}

ng-form[name=timeForm]>md-meridiem {
	max-width: 40px;
}

ng-form[name=timeForm]>.time-colon {
	top: 7px;
}

.md-select-value {
	border-bottom: 0px;
}

md-select:not ([disabled] ):focus .md-select-value {
	border-bottom: 0px;
}

.modal-open #popup_container {
	z-index: 1060;
	left: 40%;
	top: 200px;
}
/*Added for calendar*/
._720kb-datepicker-calendar {
	right: 0px;
	top: 24px;
}
/*Added scheduler Calender icon*/
.input-group-addon{
	 padding: 3px 12px;
}
.borderless td, .borderless th ,.modal-content .borderless td, .modal-content .borderless th{
    border: none;
}

.modal-content recurtable td {
	padding: 2px 5px;
}
.modal-content recurtable td input[type=checkbox], .modal-content recurtable td input[type=radio]{
	margin:0px;
}
/*Form styles*/
legend {
	background: none repeat scroll 0 0 #e2e2e2;
	color: #000 !important;
	font-size: 12px !important;
	font-weight: bold !important;
	height: 16px;
	margin: 0px -1px 0px;
	padding: 5px 5px;
	width: calc(100% - -2px);
	height: 30px;
}

.field-group fieldset {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ddd;
	margin: 0 0 10px;
	padding: 0;
}

.form-horizontal .form-group {
	margin: 0px 0px 10px 0px;
}
.form-control{
	height:23px;
	padding: 2px 2px;
	line-height: 12px;
	font-size: 11px;
}

input-group-addon {
	padding: 2px !important;
	font-size: 12px !important;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #fff !important;
}

input[type=file]::-webkit-file-upload-button {
	font-size: 13px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 23px;
	padding: 2px 12px;
}

.form-horizontal .checkbox, .form-horizontal .radio {
	min-height: auto;
}
/*Search box styles*/
#imaginary_container {
	/* margin-top:20%; Don't copy this */
	
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}

.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}

.stylish-input-group button {
	border: 0;
	background: transparent;
}

.title h4 {
	margin: 5px 0px;
}

.panel-heading .form-control {
	height: 25px;
	font-weight: normal;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.panel-heading .input-group-addon {
	padding: 4px 12px;
}
.panel-tools .btn{
	margin:1px 2px;
}

#imaginary_container {
	width: 65%;
	padding: 0px 2px;
}

/*Import File FTP table styles*/
.modal-content table tr td {
	min-width: 25px;
	padding: 2px 12px;
	font-size: 11px;
	line-height: 1.42857143;
	color: #555;
	margin-top: -2px;
	vertical-align: middle;
}

.modal-content table {
	overflow: auto;
	display: table;
}

.filebtn_style::-webkit-file-upload-button {
	padding: 6px;
	cursor: pointer;
}

.filebtn_style::-ms-browse {
	padding: 6px;
	cursor: pointer;
}

/*property sheet table styles*/
.table-fixed thead {
	width: 97%;
}

.table-fixed tbody {
	height: 125px;
	overflow-y: auto;
	width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
  
}

.table-fixed tbody td, .table-fixed thead>tr>th {
	float: left;
}

.table-fixed tbody td {
	padding: 4px 12px !important;
}

.table-fixed thead>tr>th {
	
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border:0px;
}

.table-bordered tr {
	border-bottom: 1px solid #ddd;
}

.table-fixed tr {
	overflow: hidden
}
/*Filter box styles*/
.profileColumn.active, .profileColumn:hover, .profileColumn.activeAttribute
	{
	background-color: #eeeeef;
}

.profileColumn {
	padding: 2px 5px;
}

#filterInfoSegment {
	border: 1px solid #ccc;
	display: block;
	overflow: auto;
	padding: 20px 5px;
}
/*push button style*/
.pusharrow {
	float: none;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity = 20);
	opacity: .2;
	text-align: center;
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}

.pusharrow:focus, .pusharrow:hover {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity = 50);
	opacity: .5;
}
/*Accordion styles*/
uib-accordion .panel-default>.panel-heading {
	display: block;
	background: #999;
	border-bottom: 1px solid #999;
}

uib-accordion.treeview .panel-default>.panel-heading {
	background: none;
	border-bottom: 0px;
}

uib-accordion.treeview .panel-group .panel {
	border: 0;
}

uib-accordion.treeview  .tree-expanded {
	padding: 8px 10px;
	background-image: url("./images/folder_open.png");
	background-repeat: no-repeat;
	margin-top: -4px;
}

uib-accordion.treeview  .tree-collapsed {
	padding: 8px 10px;
	background-image: url("./images/folder_closed.png");
	background-repeat: no-repeat;
	margin-top: -4px;
}

uib-accordion.treeview ul li.treeview_list {
	padding: 1px 20px;
	background-image: url("./images/file.png");
	background-repeat: no-repeat;
	backgroud-position: left
}

uib-accordion.treeview ul li.treeview_list span {
	width: 100%;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

uib-accordion.treeview .panel-default>.panel-heading+.panel-collapse>.panel-body
	{
	border: 0px;
}

uib-accordion .panel-body {
	padding: 0px !important;
}

@media ( min-width : 768px) {
	.form-horizontal .control-label {
		padding-top: 4px;
	}
}

/*tab styles*/
.modal-open .tab-content{
	padding: 10px;
    display: block;
    overflow: auto;
    border: 1px solid #dfdfdf;
    border-top: 0;
    height:350px;
}
/*Form Styles*/
ng-form{
	display:block;
}
.md-icon-button{
	display:none !important
}

md-time-picker md-hours-minutes {
	width: 42px;
}

.md-select-menu-container.md-active {
	z-index: 9999;
}

.inline-span {
	display: inline-block;
	width: 30%;
	padding: 2px;
	margin: 2px;
	white-space: nowrap;
	overflow: hidden !important;
	text-overflow: ellipsis;
}
/*
background: url(javascript/treeview-default.gif) -64px -25px no-repeat;
    height: 16px;
    width: 16px;
    margin-left: -16px;
    float: left;
    */

/*home page style*/
.customer_box {
	background: #e2e2e2;
	border-radius: 5px;
	padding: 5px;
	margin: 5px 15px 5px 0px;
	color: #444444;
}

.percentage.uparrow>h5 {
	background: url("images/up-green.png") no-repeat center center;
	background-position: 49px -2px;
}

.percentage.downarrow>h5 {
	background: url("images/down-red.png") no-repeat center center;
	background-position: 49px -2px;
}

.headbreadcrumb {
	list-style: none;
	background-color: #dad9d7;
	/* border-radius: 4px; */
}

.breadcrumb {
	background-color: none !important;
}
.mtb-50{
	margin-top: -45px !important;
}
.aptop{
	    margin-top: 0px !important;

}
.execute-button {
    background-color: #ccc;
    border: none;
    color: black;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    font-size: 10px;
    margin-left: -80px;
    margin-top: 10px;
    z-index: 1;
}

/*Styles for the value inside the views*/
.value-box {
    background: none repeat scroll 0 0 #f1f1f1;
    border: 1px dotted lightgray;
    color: #000;
    display: table-cell;
    font-size: 13px; 
    height: auto;
    padding: 5px 3px 6px 10px;
    width: 405px;
    overflow: hidden;
    text-overflow: ellipsis;
}

 .label-box-offer {
    font-size: 13px;
    margin: 0;
    height: 19px;
    display: table-cell;
    vertical-align: middle;
    width: 178px;
}

.offer-field {
    float: left;
    margin-bottom: 5px;
    width: 100%;
    display: table-row;
}

.input-box {
    display: table-cell;
    vertical-align: middle;
}
.arrow-btm{
	font-size: 17px;
    background: #ccc;
    border: solid 1px #333;
    padding: 0px 5px;
    margin-top: 5px;
}
