<div class="modal-header">
	<h3 class="modal-title  pull-left">{{title}}</h3>
	<button type="button" class="close pull-right" ng-click="cancel()">
		x</button>
</div>

<form ng-submit="submit()" role="form" name="userForm" novalidate
	class="form-horizontal">


		<div class="field-group">

			<div id="userForm-fieldset">
				<uib-tabset> <uib-tab index="0" heading="User Details">
				<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
					ng-class="{ 'has-error' : userForm.writetoftpname.$invalid && !userForm.writetoftpname.$pristine }">
					<label class="control-label col-sm-5" for="User Name">User
						Name</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="aususername"
							name="aususername" ng-model="formdata.aususername" required>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"
					ng-class="{ 'has-error' : userForm.writetoftpname.$invalid && !userForm.writetoftpname.$pristine }">
					<label class="control-label col-sm-5" for="First Name">First
						Name</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="ausfirstname"
							name="ausfirstname" ng-model="formdata.ausfirstname" required>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"
					ng-class="{ 'has-error' : userForm.writetoftpname.$invalid && !userForm.writetoftpname.$pristine }">
					<label class="control-label col-sm-5" for="Last Name">Last
						Name</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="auslastname"
							name="auslastname" ng-model="formdata.auslastname" required>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"
					ng-class="{ 'has-error' : userForm.writetoftpname.$invalid && !userForm.writetoftpname.$pristine }">
					<label class="control-label col-sm-5" for="Middle Name">Middle
						Name</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="ausfamilyname"
							name="ausfamilyname" ng-model="formdata.ausfamilyname"
							required>
					</div>
				</div>

				<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"
					ng-class="{ 'has-error' : userForm.writetoftpname.$invalid && !userForm.writetoftpname.$pristine }">
					<label class="control-label col-sm-5" for="Password">Password</label>
					<div class="col-sm-7">
						<input type="password" class="form-control" id="auspassword"
							name="auspassword" ng-model="formdata.auspassword" required>
					</div>
				</div>
				
					<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"
					ng-class="{ 'has-error' : userForm.writetoftpname.$invalid && !userForm.writetoftpname.$pristine }">
					
					<label class="control-label col-sm-5" for=" Confirm Password">Confirm Password</label>
					<div class="col-sm-7">
						<input type="password" class="form-control" id="CONFIRM_AUS_PASSWORD" ng-model="CONFIRM_AUS_PASSWORD"
							name="CONFIRM_AUS_PASSWORD"  onclick="Validate(formdata.auspassword,CONFIRM_AUS_PASSWORD)" required>
						<span ng-show="formdata.auspassword !== CONFIRM_AUS_PASSWORD">Password mismatch</span>	
					</div>
				</div>

				<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"
					ng-class="{ 'has-error' : userForm.fileExtension.$invalid && !userForm.fileExtension.$pristine }">
					<label class="control-label col-sm-5" for="Notification">Notification</label>
					<div class="col-sm-7">
						<select id="ausnotifyoption" name="ausnotifyoption"
							class="form-control" ng-model="formdata.ausnotifyoption" required>
							<option value="">Select</option>
							<option value="B">Both</option>
							<option value="E">Email</option>
							<option value="M">Mobile</option>
						</select>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-if="formdata.ausnotifyoption=='B'|| formdata.ausnotifyoption=='M'"
					ng-class="{ 'has-error' : userForm.writetoftpname.$invalid && !userForm.writetoftpname.$pristine }">
					<label class="control-label col-sm-5" for="Mobile Number">Mobile Number
						</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="ausmobilenumber"
							name="ausmobilenumber" ng-model="formdata.ausmobilenumber" required>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"  ng-if="formdata.ausnotifyoption=='B'|| formdata.ausnotifyoption=='E'"
					ng-class="{ 'has-error' : userForm.writetoftpname.$invalid && !userForm.writetoftpname.$pristine }">
					<label class="control-label col-sm-5" for="Email">Email
						</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="ausemail"
							name="ausemail" ng-model="formdata.ausemail"
							required>
					</div>
				</div>
				
				
				<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<label class="control-label col-sm-5 " for="Adimn Flag">Admin Flag</label>
					<div class="col-sm-7">
						<input type="checkbox" class="checkbox" id="ausadminflag"
							name="ausadminflag" ng-model="formdata.ausadminflag"
							ng-true-value="'Y'" ng-false-value="'N'" >
					</div>
				</div>
							<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"
					ng-class="{ 'has-error' : userForm.fileExtension.$invalid && !userForm.fileExtension.$pristine }">
					<label class="control-label col-sm-5" for="Status">Status</label>
					<div class="col-sm-7">
						<select id="ausstatus" name="ausstatus"
							class="form-control" ng-model="formdata.ausstatus" required>
							<option value="">Select</option>
							<option value="A">Active</option>
							<option value="I">Inactive</option>
							<option value="L">Locked</option>
						</select>
					</div>
				</div>
				<input
					type="hidden" ng-model="formdata.ausdeleteflag"
					ng-init="formdata.ausdeleteflag='N'">
			 <input
					type="hidden" ng-model="formdata.createdate"
					ng-init="formdata.createdate=''"> <input type="hidden"
					ng-model="formdata.createuser" ng-init="formdata.createuser=''">
				<input type="hidden" ng-model="formdata.updatedate"
					ng-init="formdata.updatedate=''"> 
					 <input
					type="hidden" ng-model="formdata.ausworkarea"
					ng-init="formdata.ausworkarea='user'"> <input type="hidden"
					ng-model="formdata.ausnotes" ng-init="formdata.ausnotes='user'">
				<input type="hidden" ng-model="formdata.auslastlogindate"
					ng-init="formdata.auslastlogindate=''"> <input type="hidden"
					ng-model="formdata.auspasswordchangedate" ng-init="formdata.auspasswordchangedate=''">
				<input type="hidden" ng-model="formdata.ausretryattempt"
					ng-init="formdata.ausretryattempt=''">
					<input type="hidden"
					ng-model="formdata.ausstartdate" ng-init="formdata.ausstartdate=''">
				<input type="hidden" ng-model="formdata.ausenddate"
					ng-init="formdata.ausenddate=''">
					<input type="hidden"
					ng-model="formdata.updateuser" ng-init="formdata.updateuser=''">
				<input type="hidden" ng-model="formdata.lastmodified"
					ng-init="formdata.lastmodified=''">
			</div>

		</div>
		<div class="modal-footer">
			<div class="pull-right">
				<button type="submit" class="btn btn-primary btn-sm"
					tool-tip-directive
					title="{{ userForm?'Please fill all the required fields':''}}"
					ng-disabled="userForm.$invalid" )>Submit</button>
				<button type="reset" class="btn btn-primary btn-sm" ng-if="!edit">Reset</button>
				<button type="button" class="btn btn-primary btn-sm"
					ng-click="resetForm()" ng-if="edit">Reset</button>
			</div>
		</div>
</form>