<div class="modal-header">
	<h3 class="modal-title  pull-left">{{title}}</h3>
	<button type="button" class="close pull-right" ng-click="cancel()">
		x</button>
</div>
<form ng-submit="submit()" role="form" name="groupForm" novalidate
	class="form-horizontal">
	<div class="modal-body">

		<div class="field-group">

			<div id="groupForm-fieldset">
				<uib-tabset> <uib-tab index="0" heading="User Details">
				<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"
					ng-class="{ 'has-error' : groupForm.writetoftpname.$invalid && !groupForm.writetoftpname.$pristine }">
					<label class="control-label col-sm-5" for="User Name">Group Code</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="agrcode"
							name="agrcode" ng-model="formdata.agrcode" required>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"
					ng-class="{ 'has-error' : groupForm.writetoftpname.$invalid && !groupForm.writetoftpname.$pristine }">
					<label class="control-label col-sm-5" for="First Name">Short Name</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="agrshortname"
							name="agrshortname" ng-model="formdata.agrshortname" required>
					</div>
				</div>
				<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6"
					ng-class="{ 'has-error' : groupForm.writetoftpname.$invalid && !groupForm.writetoftpname.$pristine }">
					<label class="control-label col-sm-5" for="Last Name">Long Name</label>
					<div class="col-sm-7">
						<input type="text" class="form-control" id="agrlongname"
							name="agrlongname" ng-model="formdata.agrlongname" required>
					</div>
				</div>
				
				<input type="hidden" ng-model="formdata.agrdeleteflag"
					ng-init="formdata.agrdeleteflag='N'"> <input type="hidden"
					ng-model="formdata.agrsystemflag" ng-init="formdata.agrsystemflag=''">				
				<input type="hidden" ng-model="formdata.lastmodified"
					ng-init="formdata.lastmodified=''">
			</div>

		</div>
		<div class="modal-footer">
			<div class="pull-right">
				<button type="submit" class="btn btn-primary btn-sm"
					tool-tip-directive
					title="{{ groupForm?'Please fill all the required fields':''}}"
					ng-disabled="groupForm.$invalid">Submit</button>
				<button type="reset" class="btn btn-primary btn-sm" ng-if="!edit">Reset</button>
				<button type="button" class="btn btn-primary btn-sm"
					ng-click="resetForm()" ng-if="edit">Reset</button>
			</div>
		</div>
</form>