<div class="modal-header">
	<h3 class="modal-title  pull-left">{{title}}</h3>
	<button type="button" class="close pull-right" ng-click="cancel()">
		x</button>
</div>
<div class="field-group">

	<div id="ChannelTemplateForm-fieldset">
		<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
			ng-class="{ 'has-error' : ChannelTemplateForm.FieldName.$invalid && !ChannelTemplateForm.FieldName.$pristine}">
			<label for="FieldName" class="control-label col-sm-4"> Name</label>
			<div class="col-sm-8">
				<input type="text" name="name" class="form-control" id="name"
					ng-model="formData.tmpl_name" ng-init="formData.tmpl_name"
					ng-class="{ 'has-error' : ChannelTemplateForm.name.$invalid }"
					required />
			</div>
		</div>
		<div class="clear"></div>
		<div class="row no-margin">
			<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
				ng-class="{ 'has-error' : ChannelTemplateForm.FieldName.$invalid && !ChannelTemplateForm.FieldName.$pristine}">
				<label for="FieldDescription" class="control-label col-sm-4">
					Description</label>

				<div class="col-sm-8">

					<textarea name="FieldDescription" class="form-control"
						id="FieldDescription" ng-model="formData.tmpl_description"
						rows="4" cols="50" ng-init="formData.tmpl_description"></textarea>
				</div>
			</div>

			<div class="clear"></div>

			<div class="row no-margin">
				<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6"
					ng-class="{ 'has-error' : ChannelTemplateForm.FieldName.$invalid && !ChannelTemplateForm.FieldName.$pristine}">
					<label for="FieldDescription" class="control-label col-sm-4">Template</label>
					<div class="col-sm-8">
						<input type="file" id="channelFileUpload" onchange="angular.element(this).scope().loadFile()">
					</div>
				</div>
				<div class="clear"></div>
				<p>&nbsp;&nbsp;{{title1}}</p>
				
				
			<div>
				<uib-tabset> 
				<uib-tab index="0" heading="Edit Template">
				<div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
<!-- 				<div contenteditable="true"><input  id="editTempl" ng-model="name"  ng-keyup="getkeys($event)"></div> -->
				
					<textarea rows="15" cols="80" id="editTempl" ng-init="formData.tmpl_content" ng-model="formData.tmpl_content" ng-keyup="getkeys($event)"></textarea>
				</div>
				</uib-tab> <uib-tab index="1" heading="Personalize">
				<div style="width: 1000px;">
					<table id="channel-templates-personalzation-table">
						<thead>
							<tr bgcolor="#DCDCDC">
								<th width="55%">Personalized Field From Template</th>
								<th>Choose Personalize</th>
							</tr>
						</thead>
						<tbody id="channel-templates-personalzation-body">
						<tr  ng-repeat="value in matchValues">
						<td>
                        {{value}}<td>
						<td  id="personOption">
						<select ng-model="personOption" ng-change="setMapValues(personOption,$index)">
						<option value="">Select</option>
                          <option id="TESTA">TESTA</option>
                          <option id="BITLY_URL">BITLY_URL</option>
                          <option id="OFFER_CODE">OFFER_CODE</option>
                          <option id="LINK">LINK</option>
                           <option id="CMNAME">CMNAME</option>
                        </select></td>
						</tr>
						</tbody>
					</table>
					<div style="margin-top:20%;margin-left:30%">
					<input id="personalize-submit" float="right" ng-click="personalizeContent()"
						type="button" value="Personalize">
						</div>
				</div>
				</uib-tab>
				</uib-tabset>
			</div>
			
			</div>

		</div>
	</div>
	<div class="modal-footer">
		<div class="pull-right">
			<button type="submit" class="btn btn-primary btn-sm"
				tool-tip-directive
				title="{{ ChannelTemplateForm?'Please fill all the required fields':''}}" ng-click="savePersonalizedContent()"
				ng-disabled="ChannelTemplateForm.$invalid")>Submit</button>
			<button type="reset" class="btn btn-primary btn-sm" ng-if="!edit">Reset</button>
			<button type="button" class="btn btn-primary btn-sm"
				ng-click="resetForm()" ng-if="edit">Reset</button>
				
		</div>
		
		<input type="hidden" ng-model="formData.tmpl_name"
					ng-init="formData.tmpl_name =''">
					<input type="hidden" ng-model="formData.tmpl_description"
					ng-init="formData.tmpl_description =''">  
					<input type="hidden" ng-model="formData.tmplid"
					ng-init="formData.tmpl_id=''"> <input type="hidden"
					ng-model="formData.tmplcontent" ng-init="formData.tmpl_content=''">
		<input type="hidden" ng-model="formData.tmplcreate_user"
					ng-init="formData.createuser='admin'"> <input type="hidden"
					ng-model="formData.tmplcreate_date"
					ng-init="formData.createdate =''"> <input type="hidden"
					ng-model="formData.tmplupdate_user"
					ng-init="formData.updateuser ='admin'"> <input type="hidden"
					ng-model="formData.tmplupdate_date"
					ng-init="formData.updatedate=''"> <input type="hidden"
					ng-model="formData.tmpllast_modified"
					ng-init="formData.lastmodified=''"> <input type="hidden"
					ng-model="formData.tmplprf_field_list"
					ng-init="formData.tmpl_prf_field_list=''"> <input
					type="hidden" ng-model="formData.tmpltcdc_rulename"
					ng-init="formData.tmpl_tcdc_rulename=''"> <input
					type="hidden" ng-model="formData.tmpltcdc_id"
					ng-init="formData.tmpl_tcdc_id=''">
		
	</div>
</div>
	<script type="text/javascript">
	var globalContent = "";
function readSingleFile(evt) {
   
    var f = evt.target.files[0];

    if (f) {
        var r = new FileReader();
        r.onload = function (e) {
            var contents = e.target.result;
            document.getElementById("editTempl").value = contents;
            globalContent  = contents;
        }
        r.readAsText(f);
    } else {
        alert("Failed to load file");
    }
    
}


document.getElementById('channelFileUpload').addEventListener('change', readSingleFile, false);
</script>
