<div class="modal-header">
	<h3 class="modal-title  pull-left">{{title}}</h3>
	<button type="button" class="close pull-right" ng-click="cancel()">
		x</button>
</div>

<form ng-submit="submit()" role="form" name="TargetLevelForm" novalidate
	class="form-horizontal">
	<div class="modal-body">

		<div class="field-group">	 		
	             		
	         	<div id="TargetLevelForm-fieldset" >   
	         	 <uib-tabset> <uib-tab index="0" heading="Target Level Details">      
	         	<!-- 	 <div class="panel-body" id="addExpressionInfo">  -->
	         		  <!-- <div style="width: 600px;height:300px;overflow: auto;"> -->
			         		<!-- <div class="row no-margin"> -->
								<div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6" ng-class="{ 'has-error' : TargetLevelForm.FieldName.$invalid && !TargetLevelForm.FieldName.$pristine}">
									<label for="FieldName"  class="control-label col-sm-4"> Name</label>
									<div class="col-sm-8">
										<input type="text" name="name" class="form-control" id="name" ng-model="formData.ttl_name" ng-init="formData.ttl_name"  ng-class="{ 'has-error' : TargetLevelForm.name.$invalid }" required/>
									</div>
								</div>
								<div class="clear"></div>
								
								<div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-class="{ 'has-error' : TargetLevelForm.FieldName.$invalid && !TargetLevelForm.FieldName.$pristine}">
								 			<label class="control-label col-sm-4">Data Type
											</label>
											<div class="col-sm-8" >
											
											<select id="submit"  value="submit" class="form-control" ng-model="formData.ttl_data_type" ng-init="formData.ttl_data_type" required>
											       <option value="">Select DataType</option>    
											    <option  ng-repeat="operator in operatorsList track by $index" value="{{operator.dld_lookup_code}}">{{operator.dld_lookup_meaning}}</option>
											 
																                        
										   </select>
												
					
											</div>
						         </div>
						         
						         <input type="hidden" ng-model="formData.ttl_id" ng-init="formData.ttl_id=''">
						         <input type="hidden" ng-model="formData.createuser" ng-init="formData.createuser='admin'">
						         <input type="hidden" ng-model="formData.createdate" ng-init="formData.createdate=''">
			 				     <input type="hidden" ng-model="formData.updateuser" ng-init="formData.updateuser=''">	
								 <input type="hidden" ng-model="formData.updatedate" ng-init="formData.updatedate=''">													
								 <input type="hidden" ng-model="formData.lastmodified" ng-init="formData.lastmodified=''">
													 								 
								</fieldset> 
						         
						         <!--  <pre>{{formData |json }}</pre>  -->
								<div class="clear"></div>      
							</div>
							</uib-tab>
							</uib-tabset>
							</div>
							</div>
							
							<div class="modal-footer">
							<div class="pull-right">
							<!-- <button type="submit" class="btn btn-primary btn-sm" 
							    tool-tip-directive
								title="{{ TargetLevelForm?'Please fill all the required fields':''}}"
								title="{{ TargetLevelForm?'Please fill all the required fields':''}}"
								ng-disabled="TargetLevelForm.$invalid" )>Submit</button> -->
								
									<button type="submit" class="btn btn-primary btn-sm" >Submit</button>
								
							<button type="reset" class="btn btn-primary btn-sm"   ng-if="!edit">Reset</button>
							<button type="button" class="btn btn-primary btn-sm" 
								ng-click="resetForm()" ng-if="edit">Reset</button>
			</div>
		</div>
				<div class="clear"></div> 
				<div class="clear"></div> 
				
					
	    </div>
	