<div class="">
   

	<div class="row">

	<div class="col-lg-12 mtb-50">				
		
				<div class="breadcrumb-back-btn hbreadcrumb pull-right">
				<div class="panel-heading">
					<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 no-padding">
					
					</div>
					<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 no-padding">
					
						<div class="panel-tools">													
							<button class="btn btn-sm btn-default pull-right" type="submit"
								ng-click="add()">
								<i class="fa fa-plus"></i>
							</button>
							
							<div id="imaginary_container" class="pull-right">
								<div class="input-group stylish-input-group">
									<input type="text" class="form-control" placeholder="Search"
										name="searchTableData" ng-model="search.term"
										ng-click="tableParams.sorting({})"> <span
										class="input-group-addon">
										<button type="submit">
											<span class="glyphicon glyphicon-search"></span>
										</button>
									</span>
								
								</div>
							</div>
						</div>
					</div>
				</div>
		             
					
				</div>
			</div>
	
			               
          				  
	<div class="panel-body panel-body-main full-height">
	               
					<table ng-table="tableParams"
						class="table table-striped  table-hover">
						
						<tr ng-repeat="row in $data">
			
						 	<td data-title="'Name'" sortable="'TTL_NAME'">{{row.ttl_name}}</td>
							<td data-title="'Data Type'" sortable="'TTL_DATA_TYPE'"  >{{row.ttl_data_type}}</td>
							<!-- <td data-title="'Desc'" sortable="'PRF_DESC'">{{row.prf_desc}}</td> -->
							<td data-title="'Create User'" sortable="'TTL_CREATE_USER'">{{row.createuser}}</td>
							<td data-title="'Create Date'" sortable="'TTL_CREATE_DATE'">{{row.createdate}}</td>
							<td data-title="'Last Modified'" sortable="'TTL_LAST_MODIFIED'">{{row.lastmodified}}</td>
							
							<td> </td>
							
							<td data-title="''" style="width: 30px" align="center">
							<i class="fa fa-pencil" aria-hidden="true"
								ng-click="editRow(row.ttl_id,'file')"></i></td>
								
							<td data-title="''" style="width: 30px" align="center"><i
								class="fa fa-trash pointer" ng-confirm-message="Are you sure ?"
								ng-confirm-delete="deletePersonalizeColumn(row.ttl_id)" item="row.fileId"></i></td>
						</tr>
						<tr ng-if="$data.length==0">
							<td colspan="9">No Data Found</td>
						</tr>
						<!-- <pre>{{tableParams | json}}</pre> -->
					</table>
					
				</div>
			</div>
		</div>
	