<div class="modal-header">
	<h3 class="modal-title  pull-left">{{title}}</h3>
	<button type="button" class="close pull-right" ng-click="cancel()"> x </button>
</div>
 <form name="folderForm" ng-submit="submit()" novalidate class="form-horizontal">
<div class="modal-body">
<div class="field-group">
<fieldset> 
    <legend>Add/Edit Folder</legend> 
    

        <!-- Folder Name -->
        <div class="form-group m-0" ng-class="{ 'has-error' : folderForm.folderShortName.$invalid && !folderForm.folderShortName.$pristine }">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-12" for="folderShortName">Name</label>
            <div class="input-box col-lg-8 col-md-8 col-sm-8 col-xs-12">
	            <input type="text" name="folderShortName" class="form-control" ng-model="formData.fld_short_name" required>
	            <p ng-show="folderForm.folderShortName.$invalid && !folderForm.folderShortName.$pristine" class="help-block">Folder's name is required.</p>
            </div>
        </div>
      
        <!-- Folder LongName -->
        <div class="form-group" ng-class="{ 'has-error' : folderForm.folderLongName.$invalid && !folderForm.folderLongName.$pristine }">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-12" for="folderLongName">Description</label>
            <div class="input-box col-lg-8 col-md-8 col-sm-8 col-xs-12">
	            <textarea name="folderLongName" class="form-control" ng-model="formData.fld_long_name" ng-minlength="3" ng-maxlength="300"></textarea>
	            <p ng-show="folderForm.folderLongName.$error.minlength" class="help-block">Longname is too short.</p>
	            <p ng-show="folderForm.folderLongName.$error.maxlength" class="help-block">Longname is too long.</p>
	        </div>
        </div>
        
       <!--  <pre>{{formData | json}}</pre> -->
        <input type="hidden" ng-model="folder.moduleName">
       <!--  {{folder | json}}-->

			<input type="hidden" ng-model="formData.fld_id"  ng-init="formData.fld_id=''">
			<input type="hidden" ng-model="formData.fld_parent_fld_id" ng-init="formData.fld_parent_fld_id='0'">			
			<input type="hidden" ng-model="formData.fld_view_type" ng-init="formData.fld_view_type='folder'">
			<input type="hidden" ng-model="formData.fld_folder_type" ng-init="formData.fld_folder_type='offer'">
			<input type="hidden" ng-model="formData.fld_create_date" ng-init="formData.createdate=''">
			<input type="hidden" ng-model="formData.fld_create_user" ng-init="formData.createuser='admin'">
			<input type="hidden" ng-model="formData.fld_update_date" ng-init="formData.updatedate=''">
			<input type="hidden" ng-model="formData.fld_update_user" ng-init="formData.updateuser=''">						
			<input type="hidden" ng-model="formData.fld_last_modified" ng-init="formData.lastmodified=''">
			<input type="hidden" ng-model="formData.fld_sub_type" ng-init="formData.fld_sub_type=''">
  
 </fieldset>
 </div>
 </div>
 <div class="modal-footer">
 	<div class="pull-right">
		 <button type="submit" class="btn btn-primary btn-sm" tool-tip-directive title="{{ folderForm.$invalid?'Please fill all the required fields':''}}" ng-disabled="folderForm.$invalid">Submit</button>
		 <button type="button" class="btn btn-primary btn-sm" ng-click="cancel()" >Cancel</button>
	 </div>
</div>
 </form>
 
 
 
    