 <ul id="css3menu_top" class="topmenu"   ng-controller="navController" style="display: block; min-width: 500px; margin: 0 auto;">
     <li class="topmenu addClassMenu" ><a href="#" class="selectMenu">        
         <span>Home</span></a>
     </li>
     <li class="topmenu addClassMenu"  ng-class="{active:isActive('{{menuItem.url}}')}" ng-repeat="menuItem in MenuItems">
     <a  href="#!{{menuItem.url}}" class="selectMenu">       
         <span>{{menuItem.name}}</span></a>
         <div class="submenu" ng-show="{{menuItem.subMenu}}">
             <div class="column">
                 <ul ng-class="submenu.class">
                      <li ng-repeat="subMenuItem in menuItem.subMenuItems" ng-class="{active:isActive('{{subMenuItem.url}}')}">
                      		<a href="#!{{subMenuItem.url}}"><span>{{subMenuItem.name}}</span></a>
                      </li>
                 </ul>
             </div>
         </div>
     </li>
 </ul>


            
            
 